#!/bin/bash

ANACONDA_PREFIX="${ANACONDA_PREFIX:-/usr/local/anaconda3}"
ANACONDA_ENV_NAME=predestination

if [[ -d "$ANACONDA_PREFIX" ]]; then
  PATH="${ANACONDA_PREFIX}/bin:$PATH"
  export PATH
fi

if [[ -d "${ANACONDA_PREFIX}/envs/${ANACONDA_ENV_NAME}" ]]; then
  # shellcheck source=/dev/null
  source "${ANACONDA_PREFIX}/bin/activate" "$ANACONDA_ENV_NAME"
  export PYTHONPATH="${ANACONDA_PREFIX}/envs/${ANACONDA_ENV_NAME}/lib/python3.6/site-packages"
fi
