#!/bin/bash

if command -v pipenv > /dev/null; then
  if ENV_PATH="$(pipenv --venv)"; then
    PATH="${ENV_PATH}/bin:${PATH}"
    export PATH
  else
    echo >&2 'No `pipenv` environment found.'
    echo >&2
    echo >&2 'Once you have created it, run:'
    echo >&2
    echo >&2 '    direnv reload'
    echo >&2
  fi
fi
