[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
eventlet = "*"
flask = "*"
flask-socketio = "*"
gunicorn = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
torch = "*"

[dev-packages]
flake8 = "*"
