[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
eventlet = "*"
flask = "*"
flask-socketio = "*"
gunicorn = "*"
numpy = "*"

[dev-packages]
black = "*"
flake8 = "*"
flake8-bugbear = "*"

[pipenv]
allow_prereleases = true
