html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #1e1e1e;
  color: #147086;
  font-family: "Source Code Pro", "Inconsolata", "Consolas", monospace;
}

.grid {
  border-collapse: collapse;
}

.cell {
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  border-right: 1px solid #147086;
  border-bottom: 1px solid #147086;
}

.cell.alive {
  background-color: #147086;
}
